@charset "utf-8";

* {
  margin: 0;
  padding: 0;

  font-family: "Merriweather", serif;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1900px;
  margin: 0 auto;
}

/* Header */

.header {
  height: 913px;
  padding-top: 52px;

  background: url(../img/header_bg.jpg) top left no-repeat;
}

.header__navigation,
.header h1,
.header__line {
  display: flex;
  justify-content: flex-end;
} 

.header__navigation {
  gap: 16px;
  margin-bottom: 316px;
}

.header__navigation a {
  padding: 16px 22px;

  font-size: 18px;
  font-weight: 400;
  color: #787878;
  text-decoration: none;

  border: 1px solid transparent;
}

.header__navigation a:first-child,
.header__navigation a:hover {
  border: 1px solid #787878;

  transition: border 1s ease-in-out;
}

.header h1 {
  margin-bottom: 40px;

  font-size: 40px;
  font-weight: 300;
  color: #7b7b7b;
  text-align: center;
}

.line {
  height: 33px;

  background: url(../img/line.png) center right no-repeat;
}

.header__navigation,
.header h1 {
  margin-right: 150px;
}

.header__line {
  margin-right: 287px;
  margin-bottom: 200px;
}

.header__scroll {
  display: flex;
  padding: 45.5px 24px;

  background: url(../img/mouse_scroll.png) center no-repeat;
}

/* Trends */

.trends {
  display: flex;
  justify-content: center;
  gap: 185px;
  height: 229px;
  padding: 67px 20px 87px;

  background: url(../img/trends_bg.jpg) center no-repeat;
}

.trends__item {
  padding-top: 116px;

  text-align: center;

  overflow: hidden;
}

.trends__item:first-child {
  position: relative;

  background: url(../img/trends_1.png) top left 53% no-repeat;
}

.trends__item:nth-child(2) {
  background: url(../img/trends_2.png) top center no-repeat;
}

.trends__item:last-child {
  background: url(../img/trends_3.png) top center no-repeat;
}

.trends__item h3 {
  margin-bottom: 31px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #3c3c3c;
  text-transform: uppercase;
}

.trends__item p {
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  color: #3c3c3c;
}

/* Specials */

.specials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 104px;

  background-color: #fff;
}

.specials h2 {
  margin-bottom: 33px;

  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
  color: #3c3c3c;
}

.specials__line {
  width: 100%;
  margin-bottom: 56px;

  background-position: center;
}

.specials__offers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 10.84%; /* 206px */
}

.specials__offers img,
.specials__offers .item {
  display: flex;
  width: 248px;
  height: 248px;
}

.specials__offers .item {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  background-color: #f8f8f8;
}

.specials__offers .item h3 {
  font-size: 18px;
  font-weight: 700;
  color: #3c3c3c;
}

.item__line {
  width: 88px;
  height: 1px;

  background-color: #3c3c3c;
}

.specials__offers .item p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  color: #3c3c3c;
  text-align: center;
}

.specials__offers .item h3,
.specials__offers .item p,
.item__line {
  margin-bottom: 16px;
}

.specials__offers .item p:last-child {
  margin-bottom: 0;

  font-size: 18px;
  font-weight: 700;
}

.specials__offers img:hover,
.specials__offers .item:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}

/* About */

.about {
  display: flex;
  height: 967px;

  background: url(../img/about_bg.png) center right no-repeat #eeefef;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  margin-left: 10.73%; /* 204px */

  color: #3c3c3c;
  text-align: center;

  background: url(../img/signature.png) bottom right no-repeat;
}

.about__wrapper h2 {
  margin-bottom: 32px;

  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
}

.about__line {
  width: 100%;
  margin-bottom: 58px;

  background-position: center;
}

.about__wrapper p {
  font-size: 30px;
  line-height: 54px;
  font-weight: 300;
}

/* Menu */

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 69px 20px 85px;

  background-color: #fff;
}

.menu h2 {
  margin-bottom: 32px;

  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
  color: #3c3c3c;
}

.menu__line {
  width: 100%;
  margin-bottom: 52px;

  background-position: center;
}

.menu__navigation {
  display: flex;
  gap: 15px;
  margin-bottom: 84px;
}

.menu__navigation a {
  padding: 16px 22px;

  font-size: 18px;
  color: #3c3c3c;
  text-decoration: none;

  border: 1px solid transparent;
}

.menu__navigation a:hover,
.menu__navigation a:first-child {
  border: 1px solid #3c3c3c;

  transition: border 1s ease-in-out;
}

.menu__item {
  margin-bottom: 41px;

  font-size: 18px;
  font-weight: 300;
  color: #3c3c3c;
}

.menu__item:last-child {
  margin: 0;
}

.menu__item a {
  color: #3c3c3c;
  text-decoration: none;
}

.menu__item a:hover {
  color: #000;
}

.menu__item .ingredients {
  font-style: italic;
  font-size: 14px;
}

.menu__inner {
  display: flex;
  gap: 11.47vw; /* 218px */
}

/* Contact */

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 69px 20px 33px;

  color: #3c3c3c;

  background: url(../img/contact_bg.jpg) top left no-repeat #eeefef;
}

.contact h2 {
  margin-right: 394px;
  margin-bottom: 32px;

  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
}

.contact__line {
  width: 100%;
  margin-right: 343px;
  margin-bottom: 62px;
  
  background-position: center right;
}

.contact__inner {
  display: flex;
  gap: 165px;
  margin-right: 183px;
  margin-bottom: 102px;
}

.contact__inner h3 {
  margin-bottom: 16px;

  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.contact__inner address {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.contact__form {
  display: grid;
  grid-template: 62px 1fr 90px 50px / 1fr 1fr;
  grid-column-gap: 62px;
  margin-right: 186px;
  margin-bottom: 193px;
}

.contact__form p {
  grid-column: span 2;
  margin-bottom: 42px;

  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.contact__form input,
.contact__form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #3c3c3c;
  outline: none;
}

.contact__form input {
  margin-bottom: 72px;
}

.contact__form textarea {
  margin-bottom: 53px;

  resize: none;
}

[placeholder] {
  padding: 0 0 13px 20px;
  font-style: italic;
  font-size: 18px;
  color: #3c3c3c;
}

.contact__form input {
  width: 234px;
}

.contact__form textarea {
  grid-column: span 2;
}

.contact__form input[type="submit"] {
  grid-column: span 2;
  justify-self: center;
  width: auto;
  margin-bottom: 0;
  padding: 0 28px;

  font-size: 18px;
  font-weight: 400;

  border: 1px solid #3c3c3c;

  cursor: pointer;
}

.contact__social {
  margin-right: 206px;
}

.facebook,
.instagram {
  padding: 12px 24px;

  text-decoration: none;

  border: 1px solid #3c3c3c;
}

.facebook {
  margin-right: 14px;

  background: url(../img/facebook.png) center no-repeat;
}

.instagram {
  background: url(../img/instagram.png) center no-repeat;
}