@charset "utf-8";

* {
  margin: 0;
  padding: 0;

  font-family: "Merriweather", serif;
}

.wrapper {
  max-width: 1900px;
}

/* Header */

.header {
  height: 913px; /* 965px - padding-top */
  padding-top: 52px;

  background: url(../img/header_bg.jpg) top left no-repeat;
  /* background-size: cover; */
}

.header__navigation,
.header h1,
.header__line {
  display: flex;
  justify-content: flex-end;
} 

.header__navigation {
  gap: 16px;
  margin-bottom: 316px;
}

.header__navigation a {
  padding: 16px 22px;

  font-size: 18px;
  font-weight: 400;
  color: #787878;
  text-decoration: none;

  border: 1px solid transparent;
}

.header__navigation a:first-child,
.header__navigation a:hover {
  border: 1px solid #787878;

  transition: border 1s ease-in-out;
}

.header h1 {
  margin-bottom: 40px;

  font-size: 40px;
  font-weight: 300;
  color: #7b7b7b;
  text-align: center;
}

.header__line {
  height: 33px;

  background: url(../img/header_line.png) center right no-repeat;
}

.header__navigation,
.header h1 {
  margin-right: 150px;
}

.header__line {
  margin-right: 287px;
  margin-bottom: 200px;
}

.header__scroll {
  display: flex;
  padding: 45.5px 24px;

  background: url(../img/mouse_scroll.png) center no-repeat;
}

/*  */